<div ng-if="!vm.event">
  <div class="alert alert-warning">Event not found.</div>
</div>
<div ng-if="vm.event">
  <div class="row">
    <div class="col-md-12">
      <button ng-show="vm.showBackButton" type="button"
              class="btn btn-default"
              ng-click="vm.goBack();">Back
      </button>
      <button type="button" ng-show="vm.showArchiveButton()"
              class="btn btn-default" ng-click="vm.archiveEvent()">Archive
      </button>
      <button ng-show="vm.showEscalateButton()" type="button"
              class="btn btn-default" ng-click="vm.escalateEvent()">Escalate
      </button>
    </div>
  </div>

  <br/>

  <div class="panel"
       ng-class="vm.event.newest | eventSeverityToBootstrapClass: 'panel-'">
    <div class="panel-heading">

            <span ng-if="vm.event.newest._source.event_type == 'alert'">
                <a href="{{vm.getSessionSearchUrl()}}">  <span
                    class="badge pull-right">
                {{vm.event.count}}
            </span></a>
                </span>

      <span class="pull-right" ng-if="vm.EventServices.getServicesForEvent(vm.event.newest).length > 0">
        [
      <span ng-repeat="service in vm.EventServices.getServicesForEvent(vm.event.newest)">
        <a href="{{service.getUrl(vm.event.newest)}}" target="{{service.getTarget()}}">{{service.name}}</a>
        <span ng-if="!$last"> | </span>
      </span>
        ]
        &nbsp;
      </span>

      <b>{{vm.event.newest._source.event_type | uppercase}}:
        {{vm.event.newest |
        formatEventDescription}}</b>

    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <dl class="dl-horizontal">
          </dl>
        </div>
        <div class="col-md-7">
          <dl class="dl-horizontal">
            <div ng-switch="vm.event.newest._source.event_type">

              <!-- Alert. -->
              <div ng-switch-when="alert">
              </div>

              <!-- DNS. -->
              <div ng-switch-when="dns">
                <dt>Type</dt>
                <dd>{{::vm.source.dns.type}}</dd>
                <dt>ID</dt>
                <dd>{{::vm.source.dns.id}}</dd>
                <dt>RCode</dt>
                <dd>{{::vm.source.dns.rcode}}</dd>
                <dt>RRName</dt>
                <dd>
                  <search-link
                      value="{{::vm.source.dns.rrname}}"></search-link>
                </dd>
                <dt>RRType</dt>
                <dd>{{::vm.source.dns.rrtype}}</dd>
                <dt>RData</dt>
                <dd>{{::vm.source.dns.rdata}}</dd>
              </div>

              <!-- Default. -->
              <div ng-switch-default>
                <div ng-repeat="(key, val) in vm.source[vm.source.event_type]">
                  <dt>{{key}}</dt>
                  <dd>{{val}}</dd>
                </div>
              </div>

            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <!-- HTTP. -->
  <div ng-if="vm.source.http" class="panel panel-default">
    <div class="panel-heading">
      HTTP
    </div>
    <div class="panel-body">
      <dl class="dl-horizontal">
        <div ng-repeat="(key, val) in vm.source.http">
          <dt>{{key | genericEvePrettyPrinter}}</dt>
          <dd class="break-word">
            <span search-link field="http.{{key}}"
                  value="{{val}}">{{val}}</span>
          </dd>
        </div>
      </dl>
    </div>
  </div>

  <!-- Payload. -->
  <div ng-if="vm.event.newest._source.payload" class="panel panel-default">
    <div class="panel-heading">
      Payload
      <span class="pull-right"><a href="javascript:void(0);"
                                  ng-click="vm.downloadPcap('payload');">pcap</a></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <pre
              class="wrap">{{vm.event.newest._source.payload | base64Decode}}</pre>
        </div>
        <div class="col-md-6">
          <pre>{{vm.event.newest._source.payload | base64ToFormattedHex}}</pre>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="vm.event.newest._source.packet" class="panel panel-default">
    <div class="panel-heading">
      Packet
      <span class="pull-right"><a href="javascript:void(0);"
                                  ng-click="vm.downloadPcap('packet');">pcap</a></span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <pre>{{vm.event.newest._source.packet | base64Decode}}</pre>
        </div>
        <div class="col-md-6">
          <pre>{{vm.event.newest._source.packet | base64ToFormattedHex}}</pre>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      JSON
    </div>
    <div class="panel-body" style="padding: 0px;">
      <div ace-editor content="vm.event.newest | json" read-only="true"
           mode="json"
           show-print-margin="false"></div>
    </div>
  </div>

</div>
